<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/whale-movie-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/menu-burger.js"></script>
    <title>Détail</title>
</head>
<body>
    <div th:replace="/fragments/header"></div>
    <main>
        <section class="section">
            <h1 class="title">Détail du film</h1>
            <form action="" th:object="${mymovie}">

                <div class="field">
                    <label for="genre" class="label">Genre : </label>
                    <div class="control">
                        <input class="input" type="text" id="genre" name="genre" th:value="*{genre.label}">
                    </div>
                </div>

                <div class="field">
                    <label for="year" class="label">Année : </label>
                    <div class="control">
                        <input class="input" type="text" id="year" name="year" th:value="*{year}">
                    </div>
                </div>

                <div class="field">
                    <label for="title" class="label">Titre : </label>
                    <div class="control">
                        <input class="input" type="text" id="title" name="title" th:value="*{title}">
                    </div>
                </div>

                <div class="field">
                    <label for="director" class="label">Réalisateur.e : </label>
                    <div class="control">
                        <input class="input" type="text" id="director" name="director" th:value="*{director.firstName + ' ' + director.lastName}">
                    </div>
                </div>

                <div class="field">
                    <label for="duration" class="label">Durée :</label>
                    <div class="control">
                        <input class="input" type="text" id="duration" name="duration" th:value="*{duration}">
                    </div>
                </div>

                <div class="field">
                    <label for="actors" class="label">Acteur.e.(s) :</label>
                    <div class="select is-multiple">
                        <select multiple id="actors">
                            <option class="option" th:each="actor : *{actors}" th:text="${' - ' + actor.firstName + ' ' + actor.lastName}"></option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="synopsis" class="label">Synopsis :</label>
                    <div class="control">
                        <input class="input" type="text" id="synopsis" name="synopsis" th:value="*{synopsis}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="button is-link" type="submit" value="OK">
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>
</html>