<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/whale-movie-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/menu-burger.js"></script>
    <title>Se connecter</title>
</head>
<body>
    <div th:replace="/fragments/header"></div>
    <main>
        <section class="section">
            <h1 class="title">Se connecter</h1>
            <form action="/login" method="post">
                <div class="field">
                    <label for="inputLogin">Pseudo : </label>
                    <div class="control">
                        <input required type="text" id="inputLogin" name="email">
                    </div>
                </div>
                <div class="field">
                    <label for="inputPwd">Mot de Passe : </label>
                    <div>
                        <input required type="password" id="inputPwd" name="password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-link" type="submit" value="OK">
                    </div>
                </div>
            </form>
        </section>
    </main>
</body>
</html>